<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container" style="max-width:1240px !important;">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Dropdown header</a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">One more separated link</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom"
        ngbTooltip="Designed by Invision. Coded by Creative Tim">
        Tecnologia Assistiva PUC Minas
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'./quem-somos'">
            <i class="navIcon pi pi-users"></i>
            <p>Quem somos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://creativetimofficial.github.io/now-ui-kit-angular/documentation/tutorial"
            target="_blank">
            <i class="navIcon pi pi-briefcase"></i>
            <p>Trabalhos de T.A na PUC Minas</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">
            <i class="navIcon pi pi-desktop"></i>
            <p>Laboratório de Tecnologia PUC Minas</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">
            <i class="navIcon pi pi-download"></i>
            <p>Materiais</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.creative-tim.com/product/now-ui-kit-pro-angular" target="_blank">
            <i class="navIcon pi pi-comments"></i>
            <p>Fale conosco</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Facebook" data-placement="bottom" href="" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Instagram" data-placement="bottom" href="" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>