<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Proposta deste espaço</h1>
                <p class="textJustify">
                    O curso de pedagogia da PUC Minas, através da área de coordenação de ações inclusivas, vem dar
                    visibilidade ao trabalho realizado na PUC Minas na área da tecnologia assistiva em especial na área
                    da educação inclusiva e educação de pessoas com NEE (necessidades educacionais especiais).
                    Vimos trabalhando com TA na PUC Minas em diversas frentes e, de uma forma interdisciplinar, contando
                    com a participação de diversos profissionais interessados no tema. Além de explicitar as atividades
                    realizadas pela pedagogia, através da Profª Nivânia Maria de Melo Reis, vamos também dar espaço para
                    que os demais cursos possam apresentar os trabalhos interdisciplinares em desenvolvimento.
                </p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section section-tabs">
            <div class="container">
                <div class="row">
                    <h2 class="h1-seo">Tecnologia Assistiva</h2>
                    <p class="textJustify">
                        No Brasil, o Comitê de Ajudas Técnicas - CAT, instituído pela PORTARIA N° 142, DE 16 DE NOVEMBRO
                        DE 2006 propõe o seguinte conceito para a tecnologia assistiva: "Tecnologia Assistiva é uma área
                        do conhecimento, de característica interdisciplinar, que engloba produtos, recursos,
                        metodologias, estratégias, práticas e serviços que objetivam promover a funcionalidade,
                        relacionada à atividade e participação de pessoas com deficiência, incapacidades ou mobilidade
                        reduzida, visando sua autonomia, independência, qualidade de vida e inclusão social" (ATA VII -
                        Comitê de Ajudas Técnicas (CAT) - Coordenadoria Nacional para Integração da Pessoa Portadora de
                        Deficiência (CORDE) - Secretaria Especial dos Direitos Humanos - Presidência da República).
                        O termo utilizado na legislação brasileira é “ajudas técnicas” e está conceituada no decreto
                        3298 de 20 de Dezembro de 1999, em seu artigo 19 parágrafo único:
                    </p>
                    <h6 class="textJustify">
                        "Consideram-se ajudas técnicas, para efeito deste decreto os elementos que permitem compensar
                        uma
                        ou mais limitações funcionais, motoras, sensoriais ou mentais da pessoa portadora de
                        deficiência, com o objetivo de permitir-lhe superar as barreiras da comunicação e da mobilidade
                        e de possibilidade de sua plena inclusão social." (Brasil, 1999)
                    </h6>
                    <p class="textJustify">
                        Já no decreto 5296/2004 a definição é:
                    </p>
                    <h6 class="textJustify">
                        "Consideram-se ajudas técnicas os produtos, instrumentos, equipamentos ou tecnologia adaptados
                        ou
                        especialmente projetados para melhorar a funcionalidade da pessoa portadora de deficiência ou
                        com mobilidade reduzida, favorecendo a autonomia pessoal, total ou assistida." (Brasil, 2004)
                    </h6>
                </div>
                <div class="linha"></div>

                <div class="row">
                    <h2 class="h1-seo">Classificação</h2>
                    <p class="textJustify">
                        Os recursos de tecnologia assistiva são organizados ou classificados de acordo com objetivos
                        funcionais a que se destinam.
                        Várias classificações de TA foram desenvolvidas para finalidades distintas. O Sistema Nacional
                        de Classificação dos Recursos e Serviços de TA, dos Estados Unidos, diferencia-se da ISO ao
                        apresentar, além da descrição ordenada dos recursos, o conceito e a descrição de serviços de TA.

                        A classificação HEART, é apresentada de forma adaptada no documento EUSTATEmpowering Users
                        Through Assistive Technology, que foi elaborado por um grupo de pesquisadores de vários países
                        da União Européia e é considerada por eles, como sendo a mais apropriada para a formação dos
                        usuários finais de TA, bem como para formação de recursos humanos nesta área.

                        Priorizaremos a ISSO 9999/2002 como uma importante classificação internacional de recursos,
                        aplicada em vários países. A ISO 9999 classifica as ajudas técnicas ou Tecnologia Assistiva em
                        dez áreas Diferentes. Existe um número incontável de possibilidades, de recursos simples e de
                        baixo custo que podem e devem ser disponibilizados nas salas de aula inclusivas, conforme as
                        especificações de cada aluno com necessidades educacionais especiais presente nessas salas, tais
                        como:
                    </p>
                    <b>
                        Classe 3 - Ajudas para terapia e treinamento.<br>
                        Classe 6 - Órteses e próteses.<br>
                        Classe 9 - Ajudas para segurança e proteção pessoal.<br>
                        Classe 12 - Ajudas para mobilidade pessoal.<br>
                        Classe 15 - Ajudas para atividades domésticas.<br>
                        Classe 18 - Mobiliário e adaptações para residências e outros móveis.<br>
                        Classe 21 - Ajudas para a comunicação, informação e sinalização.<br>
                        Classe 24 - Ajudas para o manejo de bens e produtos.<br>
                        Classe 27 - Ajudas e equipamentos para melhorar o ambiente, maquinaria e ferramentas.<br>
                        Classe 30 - Ajudas para o lazer e tempo livre.<br>
                    </b>

                    <p class="textJustify" style="padding-top: 20px;">
                        Os dispositivos relacionados com a tecnologia assistiva podem ser produzidos em série, para
                        distribuição comercial, como também serem produzidos sob encomenda, ou mesmo serem o produto de
                        desenvolvimento artesanal. Quando a tecnologia assistiva é usada para atender um caso
                        específico, é denominada individualizada (Mello 41997).

                        Tem-se comprovado, cada vez mais, que a tecnologia assistiva é multidisciplinar por natureza, e
                        envolve o trabalho de uma equipe. Entre os profissionais que compõe essa equipe encontramos
                        engenheiros, arquitetos, professores, assistentes sociais, designers, familiares,
                        fisioterapeutas, terapeutas ocupacionais, entre outros.
                    </p>
                </div>

                <div class="linha"></div>

                <div class="row">
                    <h2>A Tecnologia Assistiva no contexto educacional</h2>
                    <p class="textJustify">A definição da necessidade de recursos de tecnologia assistiva no âmbito
                        pedagógico está
                        contemplada no parecer CNE/CEB 17/2001:</p>

                    <h6>
                        (...) Todos os alunos, em determinado momento de sua vida escolar, podem apresentar
                        necessidades educacionais especiais, e seus professores, em geral, conhecem diferentes
                        estratégias para dar respostas a elas. No entanto, existem necessidades educacionais, que
                        requerem da escola uma série de recursos e apoios de caráter mais especializados que
                        proporcionem ao aluno meios para acesso ao currículo.
                    </h6>

                    <p class="textJustify">
                        Esse mesmo parecer deixa claro que:
                    </p>

                    <h6 class="textJustify">
                        (...) Cabe a todos principalmente aos setores de pesquisa e às universidades o desenvolvimento
                        de
                        estudos na busca de melhores recursos para auxiliar/ampliar a capacidade das pessoas com
                        necessidades educacionais especiais de se comunicar, de se locomover e de participar de maneira
                        cada vez mais autônoma do meio educacional, da vida produtiva e social, exercendo, assim, de
                        maneira plena sua cidadania. CNE/CEB 17/2001.
                    </h6>
                </div>
            </div>
        </div>


        <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.google.com">
                                Link 1
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com">
                                Link 2
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com">
                                Link 3
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    <a href="https://www.google.com" target="_blank"></a>.
                    <a href="https://www.google.com" target="_blank"></a>.
                </div>
            </div>
        </footer>
    </div>